*/.snakemake
*/logs
*/qc
*/.snakemake
*/log
*/firsttrim
*/.snakemake/*
.snakemake
.snakemake/*
.snakemake/
*.fq
*.sig
*.fastq.gz
*transdecoder*
input/euk*/*
input/pro*/*
slur*
log/*
*/log/*
tmp*
.ipynb_checkpoints/
ref/
