### Parameters expected to be changed under normal use ###
## INPUT DATA AND FORMATTING ##
# formatted input file; described in README
jobname: sample
shortid_code: Seq
metaT_sample: input/sampledata.txt
spikefile: /vortexfs1/omics/alexander/ncohen/BATS2019-clio-metaT/spike/spike.fa
adapter: static/adapters.fa
## DIRECTORIES DURING PROCESSING ##
inputDIR: input/testdata
outputDIR: ../testoutput
assembledDIR: assembled
renamedDIR: renamed
# this is where all the intermediate outputs will go.
scratch: ../testscratch 
## ANALYSIS OPTIONS ##
# 1 indicates that "spikefile" is used to clean reads
runbbmap: 1
# flag to be used to decide whether QUAST/salmon quantification performed
checkqual: 1
kmers:
    - 20
    - 50
    - 110
assemblers:
    - megahit
    - trinity
separategroups: 1
kegg_prot_db: placeholder
kegg: placeholder
busco: placeholder
pfam: placeholder
### Parameters only to be changed by advanced users ###
transdecodercutoff: 100
secondclustercutoff: 0.98
percentidcutoff: 0.98
defaultkmer: 25
mincontig: 100
rewritecluster: 0
